@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-image: url("Imagens/1092728.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.barra {
  background-color: black;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 2%;
  margin-top: 7%;
  padding: 0.5%;
  border-radius: 20px;
}

h1 {
  text-align: center;
  font-family: Aero;
  font-weight: normal;
  font-size: 3.9vw;
  margin: 0 auto;
  margin-bottom: 1%;
  border-radius: 10px;
  text-transform: uppercase;
  background-image: linear-gradient(#d30cb8, #6df1d8, #5c2c6d);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

h1::before{
  content: '🌴 ';
}

h1::after{
  content:' 🎮';
}

h2{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 1.7vw;
  background-image: linear-gradient(#d30cb8, #6df1d8, #5c2c6d);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

p{
  color: white;
  text-align: center;
  font-size: 1.5vw;
}

label{
  color: white;
  text-align: center;
  font-size: 1vw;
}

form {
  font-family: 'Press Start 2P', cursive;
  font-size: 2vw;
  width: 75%;
}

input, textarea {
  width: 200px;
  padding: 10px;
  color: black;
  margin-top: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid;
}

input:hover, textarea:hover, input:focus, textarea:focus {
  border-color: #5c2c6d;
  box-shadow: 5px 0px 9px #333;
  background-color: #6df1d8;
  color: black;
  font-weight: bold;
}

textarea {
  width: 100%;
  height: 120px;
  line-height: 20px;
}

form label {
  color: #FFFFFF;
}

#menu{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 1.4vw;
  background-image: linear-gradient(#d30cb8, #6df1d8, #5c2c6d);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  list-style: none;
}

#menu ul{
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0px;
  margin-top: 1%;
}

#menu li{
  position:relative;
  float:left;
}

#menu li a{
color:darkturquoise;
text-decoration:none;
padding:5px 10px;
display:block;
}

#menu li a:hover{
background:#333;
color:#fff;
-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
border-radius: 5px;
}

#menu li  ul{
  position:absolute;
  top:25px;
  left:0;
  background-color:#fff;
  display:none;
}

@media (max-width: 767px)
{
  #menu ul {
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0px;
    margin-top: 1%;
    flex-wrap: wrap;
  }
  #menu {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: larger;
    background-image: linear-gradient(#d30cb8, #6df1d8, #5c2c6d);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    list-style: none;
}
}

#banner{
  display: block;
  margin: 0 auto;
  width: 30%;
  margin-top: 6%;
  margin-bottom: 6%;
  align-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0,0,0,0.75);
  border-radius: 10px;
  justify-content: space-evenly;
}

.box {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  margin: 15px;
}

.menubox{
  width: 300px;
  margin: 15px;
}
.box:hover {
  animation: bounce 0.5s linear;
}

@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}

.one {
  background-image: url("Jogos/Alien\ Trilogy.jpg");
  background-size: contain;
  background-repeat: round;
}

.two {
  background-image: url("Jogos/Mortal\ Kombat\ Trilogy.jpg");
  background-size: contain;
  background-repeat: round;
}

.three {
  background-image: url("Jogos/Disney's\ Hercules.jpg");
  background-size: contain;
  background-repeat: round;
}

.four {
  background-image: url("Jogos/Rampage\ World\ Tour.jpg");
  background-size: contain;
  background-repeat: round;
}

.five {
  background-image: url("Jogos/Mortal\ Kombat\ Mythologies\ -\ Sub-Zero.jpg");
  background-size: contain;
  background-repeat: round;
}

.six {
  background-image: url("Jogos/Nightmare\ Creatures.jpg");
  background-size: contain;
  background-repeat: round;
}

.seven {
  background-image: url("Jogos/Tomb\ Raider\ II.jpg");
  background-size: contain;
  background-repeat: round;
}

.eight {
  background-image: url("Jogos/Mortal\ Kombat\ 4.jpg");
  background-size: contain;
  background-repeat: round;
}

.nine {
  background-image: url("Jogos/The\ Lost\ World\ -\ Jurassic\ Park.jpg");
  background-size: contain;
  background-repeat: round;
}

.ten {
  background-image: url("Jogos/Ninja\ -\ Shadow\ of\ Darkness.jpg");
  background-size: contain;
  background-repeat: round;
}

.eleven {
  background-image: url("Jogos/Tomb\ Raider\ III\ -\ Adventures\ of\ Lara\ Croft.jpg");
  background-size: contain;
  background-repeat: round;
}

.twelve {
  background-image: url("Jogos/Silent\ Hill.jpg");
  background-size: contain;
  background-repeat: round;
}

.thirteen {
  background-image: url("Jogos/Pepsiman.jpg");
  background-size: contain;
  background-repeat: round;
}

.fourteen {
  background-image: url("Jogos/Rampage\ 2\ -\ Universal\ Tour.jpg");
  background-size: contain;
  background-repeat: round;
}

.fifteen {
  background-image: url("Jogos/Disney's\ Tarzan.jpg");
  background-size: contain;
  background-repeat: round;
}

.sixteen {
  background-image: url("Jogos/Metal\ Gear\ Solid.jpg");
  background-size: contain;
  background-repeat: round;
}

.seventeen {
  background-image: url("Jogos/Dino\ Crisis.jpg");
  background-size: contain;
  background-repeat: round;
}

.eighteen {
  background-image: url("Jogos/Hot\ Wheels\ -\ Turbo\ Racing.jpg");
  background-size: contain;
  background-repeat: round;
}

.nineteen {
  background-image: url("Jogos/Pac-Man\ World.jpg");
  background-size: contain;
  background-repeat: round;
}

.twenty {
  background-image: url("Jogos/Warpath\ -\ Jurassic\ Park.jpg");
  background-size: contain;
  background-repeat: round;
}

.twenty-one {
  background-image: url("Jogos/Medal\ of\ Honor.jpg");
  background-size: contain;
  background-repeat: round;
}

.twenty-two {
  background-image: url("Jogos/Tomb\ Raider\ -\ The\ Last\ Revelation.jpg");
  background-size: contain;
  background-repeat: round;
}

.twenty-three {
  background-image: url("Jogos/Toy\ Story\ 2\ -\ Buzz\ Lightyear\ to\ the\ Rescue.jpg");
  background-size: contain;
  background-repeat: round;
}

.twenty-four {
  background-image: url("Jogos/Jackie\ Chan's\ Stuntmaster.jpg");
  background-size: contain;
  background-repeat: round;
}

.twenty-five {
  background-image: url("Jogos/Nightmare\ Creatures\ II.jpg");
  background-size: contain;
  background-repeat: round;
}

.twenty-six {
  background-image: url("Jogos/Rampage\ Through\ Time.jpg");
  background-size: contain;
  background-repeat: round;
}

.twenty-seven {
  background-image: url("Jogos/Resident\ Evil\ Survivor.jpg");
  background-size: contain;
  background-repeat: round;
}

.twenty-eight {
  background-image: url("Jogos/Spider-Man.jpg");
  background-size: contain;
  background-repeat: round;
}

.twenty-nine {
  background-image: url("Jogos/Dino\ Crisis\ 2.jpg");
  background-size: contain;
  background-repeat: round;
}

.thirty {
  background-image: url("Jogos/Alien\ Resurrection.jpg");
  background-size: contain;
  background-repeat: round;
}

.thirty-one {
  background-image: url("Jogos/Medal\ of\ Honor\ -\ Underground.jpg");
  background-size: contain;
  background-repeat: round;
}

.thirty-two {
  background-image: url("Jogos/Tomb\ Raider\ -\ Chronicles.jpg");
  background-size: contain;
  background-repeat: round;
}

.thirty-three {
  background-image: url("Jogos/Evil\ Dead\ -\ Hail\ to\ the\ King.jpg");
  background-size: contain;
  background-repeat: round;
}

.thirty-four {
  background-image: url("Jogos/Disney\'s\ The\ Lion\ King\ -\ Simba\'s\ Mighty\ Adventure.jpg");
  background-size: contain;
  background-repeat: round;
}

.thirty-five {
  background-image: url("Jogos/Disney\'s\ Aladdin\ in\ Nasira\'s\ Revenge.jpg");
  background-size: contain;
  background-repeat: round;
}

.thirty-six {
  background-image: url("Jogos/Spider-Man\ 2\ -\ Enter\ Electro.jpg");
  background-size: contain;
  background-repeat: round;
}

@font-face {
  font-family: Aero;
  src: local(Aero), url(Fontes/AerologicaRegular-K7day.ttf);
  font-weight: normal;
  font-style: normal;
}
